<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="page">
  <div class="chart">
    <div class="chart-container">
      <canvas id="canvas">{{chart}}</canvas>
    </div>
    <div class="example-button-container">
      <button mat-fab color="primary" matTooltip="refresh" (click)="refreshDataList()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-fab color="warn" matTooltip="clear" (click)="deleteDataList()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="summary">
    <div class="d-flex flex-column bd-highlight mb-3">
      <div class="p-2 summary-header">Interest Level 2</div>
      <div class="p-2 bd-highlight">
        <table class="table table-hover table-borderless ">
          <thead>
            <tr>
              <th scope="col">Interest</th>
              <th scope="col">Customers</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of interestList; index as i">
            <tr>
              <td>{{item.name}}</td>
              <td>{{item.customers | number}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="filter">
    <div class="row">
      <div class="col-6">
        <h1>Filter</h1>
      </div>
      <div class="col-6">
        <input type="number" placeholder="set values" (change)="onInputChangeAll($event)" [(ngModel)]="term">
      </div>
    </div>
    <div *ngFor="let item of interestList; index as i">
      <div class="row">
        <div class="col-6">{{item.name}}</div>
        <div class="col-6">
          <input type="number" placeholder="" [min]="0" (ngModel)="item.label" [value]="item.customers"
            (change)="onInputChange($event, item)">
        </div>
      </div>
      <mat-slider [max]="item.maxCustomers" [min]="0" thumbLabel [displayWith]="formatLabel" tickInterval="1000"
        step="1" (ngModel)="item.label" [value]="item.customers" (change)="onSliderChange($event, item)">
      </mat-slider>
    </div>
  </div>
</div>